* {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

nav {
    background-color: lightcyan;
    width: 100vw;
    height: 50px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 99;
    padding: 0 20px;
}

nav > h1 {
    display: flex;
    align-items: center;
}

.linkContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

nav > a:hover {
    font-weight: bold;
}


.background {
    padding-top: 50px;
    background-color: lightskyblue;
    height: max-content;
}
.background > .form {
    padding-bottom: 10px;
}

.textBox {
    padding-bottom: 10px;
    background-color: rgb(185, 224, 246);
    width: 50%;
    margin-left: 25%;
    height: max-content;
}

.textBox > .header, .intro, .welcomePhoto {
    text-align: center;
}
 
.textBox > .header, .intro {
    padding: 25px;
}



.textBox > .welcomePhoto > img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 90px 0;
    border: 3px solid whitesmoke;
}

.welcomePhoto {
    margin-bottom: 10px;
}

.paragraphAbout {
    padding-bottom: 10px;
    background-color: rgb(185, 224, 246);
    width: 50%;
    margin-left: 25%;
    height: max-content;
}

.introAbout {
    padding: 10px;
    text-align: center;
}

.running {
    padding: 10px;
}

.runningHeader {
    border-top: 2px solid whitesmoke;
    padding: 10px;
}

.surfing {
    padding: 10px;
}

.surfingHeader {
    border-top: 2px solid whitesmoke;
    padding: 10px;
}

.dogs {
    padding: 10px;
}

.dogsHeader {
    border-top: 2px solid whitesmoke;
    padding: 10px;
}

.textBox1 {
    display: flex;
    align-items: center;
}

.textBox2 {
    display: flex;
    align-items: center;
}

.textBox3 {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.textBox1 > img {
    height: 150px;
    width: 300px;
    padding-right: 10px;
    padding-left: 10px;
}

.textBox2 > img {
    height: 150px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

.textBox2 > p {
    padding-left: 10px;
}

.textBox3 > img {
    height: 150px;
    width: 300px;
    padding-right: 10px;
    padding-left: 10px;
}

.backgroundTextBox {
    padding-bottom: 10px;
    background-color: rgb(185, 224, 246);
    width: 50%;
    margin-left: 25%;
    height: max-content;
}

.portfolioHeader {
    border-bottom: 2px solid whitesmoke;
    padding: 10px;
    text-align: center;
}

.projectHeader {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.projectHeader > a:hover {
    color: blue;
}

.project1 {
    padding: 10px;
    background-color: lightcyan;
    margin: 20px;
}

.project2 {
    padding: 10px;
    background-color: lightcyan;
    margin: 20px;
}

.project3 {
    padding: 10px;
    background-color: lightcyan;
    margin: 20px 20px 60px 20px;
}

.projectParagraph {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectParagraph > p {
    padding-left: 20px;
}

.projectParagraph > img {
    width: 320px;
    height: 240px;
    border: black 1px solid;
}

form {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: rgb(185, 224, 246);
}


input {
    width: 100%;
    display: flex;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border-color: black;
    border-width: 2px;
    outline: none;
}

input[type=submit] {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: large;
}
input:focus {
    border: 3px solid #555;
    background-color: lightcyan;
}

label {
    padding: 5px;
}

textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border-color: black;
    border-width: 2px;
}

textarea:focus {
    border: 3px solid #555;
    background-color: lightcyan;
}

footer > img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    align-items: center;
    margin: 10px;
    z-index: 99;
}

footer > a > img:hover {
    height: 35px;
    width: 35px;
}


footer {
    width: 100%;
    height: 50px;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
}

footer > a > img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    align-items: center;
    margin: 10px;
    z-index: 99;
}

@media screen and (max-width: 540px){
    .textBox > .welcomePhoto > img {
        width: 40vw;
        height: 40vw;
    }
}